/public/
/resources/
/.hugo_build.lock
/tmp/
/.local/
/.terraform/
.terraform/
**/.terraform/
**/.build/
static/sudoku/dev-catalog.js
*.tfstate
*.tfstate.*
*.tfvars
!.terraform.tfvars.example
!**/terraform.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
